<footer class="bg-dark mt-5 pt-5 pb-3 text-light footer">
  <div class="container-fluid tm-container-small">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12 px-5 mb-5">
        <h3 class="tm-text-primary mb-4 tm-footer-title">Contacts</h3>
        <p><i class="las la-envelope"></i> <a>yedagneanicet@gmail.com</a></p>
        <p><i class="las la-phone"></i> +225 0143467571</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 px-5 mb-5">
        <h2>MaPharmacie</h2>
        <p>Adresse : Villa 533 GFCI1, Rue du Taureau, Abidjan</p> <br>
        <ul><h3 class="tm-text-primary mb-4 tm-footer-title">
          Horaires d'ouverture
        </h3>
          <li>Lundi : 9 H - 19 H 30 </li>
          <li>Mardi - Vendredi : 8 H - 19 H 30</li>
          <li>Samedi : 9 H - 15 H</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 px-5 mb-5">
        <h3 class="tm-text-primary mb-4 tm-footer-title">Informations</h3>
        <p>
          Conditions générales de ventes <br />
          Rappel de lot : bouillottes Biosynex <br />
          Live Shopping <br />
          Charte de protection des données personnelles <br />
          Conditions générales d'utilisation et droit de rétractation (CGU)
          <br />
          Mentions légales <br />
          Plan du site
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-12 col-md-7 col-12 px-5 mb-3 text-center">
        &copy;2023 &nbsp;|&nbsp; MAA
      </div>
    </div>
  </div>
</footer>
