<app-header></app-header>

<main>
  <div id="bannier" class="container-fluid d-flex align-items-center">
    <div class="container mt-5">
      <h1 class="mt-5">
        Bienvenue sur <span class="text-primary-emphasis">Ma</span
        ><span class="text-success-emphasis">Pharmacie</span>
      </h1>
      <div class="text">
        Découvrez notre pharmacie en ligne, ses nombreuses marques et sa large
        gamme de produits qui permettent de prendre soin de votre santé ou de
        votre beauté, mais aussi toutes les garanties qu’elle peut vous offrir
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos Services</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-user-nurse"></i>
        </div>
        <h3 class="fs-2">Conseils</h3>
        <p>
          Beneficier de conseils de sante afin d'ameliorer et maintenir son etat
          de santé
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-file-medical-alt"></i>
        </div>
        <h3 class="fs-2">Tests diagnostiques</h3>
        <p>
          Effectuer un test de diagnostic rapide ou test de dépistage rapide
          (TDR) qui permet d'établir rapidement un diagnostiques
        </p>
      </div>

      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-syringe"></i>
        </div>
        <h3 class="fs-2">Vaccinations</h3>
        <p>
          Effectuer des vaccinations simple, sûr et efficace de vous protéger des maladies dangereuses, avant d'être en contact avec ces affections.
        </p>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos Produits</h2>
    <app-products-home></app-products-home>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos articles</h2>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
      <div class="col">
        <div class="card h-100">
          <img
            src="https://www.pharmashopi.com/images/imagecache/300x207/jpg/pages_information_regime-cetogene-petit.jpg"
            class="card-img-top"
            alt="conseils"
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">
              Qu'est-ce que le régime cétogène ?
            </h5>
            <p class="card-text">
              Le régime cétogène est un programme amincissant très populaire. Il
              permet de perdre du poids rapidement et durablement. Tous les
              aliments ne sont pas autorisés pour un régime kéto ! Retrouvez les
              légumes, fruits et autres aliments pour maigrir avec le régime
              cétogène !
            </p>
            <a routerLink="/blog" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="https://www.pharmashopi.com/images/imagecache/300x207/jpg/pages_information_mal-de-gorge-1210x400-petit.jpg"
            class="card-img-top"
            alt="conseils"
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">
              Quelles sont les causes d'un mal de gorge ?
            </h5>
            <p class="card-text">
              Actuellement, il est courant de consulter son médecin pour une
              douleur à la gorge. La raison est qu’il s’agit généralement d’un
              mal de gorge qui se manifeste parfois de manière diffuse, mais qui
              peut être également local : amygdales, pharynx ou larynx.
            </p>
            <a routerLink="/blog" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="https://www.pharmashopi.com/images/imagecache/300x207/jpg/pages_information_produite-tepe.jpg"
            class="card-img-top"
            alt="conseils"
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">
              Comment avoir une bonne hygiène bucco dentaire ?
            </h5>
            <p class="card-text">
              Vous avez beaucoup à gagner à accorder à vos dents quelques
              minutes d'attention chaque jour. La recherche montre que la santé
              bucco-dentaire affecte également votre santé globale. Prenez soin
              de votre sourire et il y a de fortes chances que vous puissiez
              garder vos dents à vie.
            </p>
            <a routerLink="/blog" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
