<app-header></app-header>

<main>
  <div id="bannier" class="container-fluid d-flex align-items-center">
    <div class="container mt-5">
      <h1 class="mt-5">
        Bienvenue sur <span class="text-primary-emphasis">Ma</span
        ><span class="text-success-emphasis">Pharmacie</span>
      </h1>
      <div class="text">
        Découvrez notre pharmacie en ligne, ses nombreuses marques et sa large
        gamme de produits qui permettent de prendre soin de votre santé ou de
        votre beauté, mais aussi toutes les garanties qu’elle peut vous offrir
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos Services</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-user-nurse"></i>
        </div>
        <h3 class="fs-2">Conseils sur les médicaments</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-file-medical-alt"></i>
        </div>
        <h3 class="fs-2">Tests diagnostiques</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="las la-syringe"></i>
        </div>
        <h3 class="fs-2">Vaccinations</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos Produits</h2>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nos articles</h2>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
      
    </div>
  </div>
</main>

<app-footer></app-footer>
