<app-header></app-header> <br /><br /><br /><br /><br /><br />
<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4">Liste des pharmacies de garde</span>
    </a>

    <ul class="nav nav-pills">
      <div class="input-group">
        <select class="form-select" id="country" required>
          <option value="">Commune</option>
          <option>Abidjan</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="las la-search"></i>
          </button>
        </div>
      </div>
    </ul>
  </header>
</div>
