<app-header></app-header>
<br><br><br><br><br>
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Nos articles</h2>
  <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
    <app-blog></app-blog>
  </div>
</div>
