<app-header></app-header> <br /><br /><br /><br /><br /><br /><br />

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
      <div class="col-md-4">
        <app-blog></app-blog>
      </div>
    </div>
  </div>
</div>
