.sidebar {
  width: 200px;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}


#produit {
  width: 100%;
  height: 60vh;
  background: url("https://cdn-s-www.leprogres.fr/images/1E684687-4413-4AD8-8D4E-463B590699BF/NW_raw/le-paracetamol-manque-dans-les-pharmacies-photo-sipa-syspeo-1668950062.jpg") top center;
  background-size: cover;
  margin-bottom: -150px;
  color: #fff;
  font-size: 2.5rem;
}

a{
  cursor: pointer !important;
}
