<div
  class="modal fade"
  id="login"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Se connecter</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <form
          class=""
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded-3"
              id="floatingInput"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <label for="floatingInput">Email</label>
            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">champ requis</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="floatingPassword"
              formControlName="mdp"
              [ngClass]="{ 'is-invalid': submitted && f['mdp'].errors }"
            />
            <label for="floatingPassword">Mot de passe </label>
            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">
                le mot de passe doit contenir au moins 8 caracteres
              </div>
            </div>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> se souvenir de moi
            </label>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="submit"
          >
            Se connecter
          </button>
          <hr class="my-4" />
          <div class="text-end">
            <small class="text-muted">Pas de compte</small>
            <a
              class="btn text-primary fs-5 fw-bold mb-3 appointment-btn scrollto"
              data-bs-toggle="modal"
              data-bs-target="#register"
              >S'inscrire</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-register></app-register>
