<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="las la-envelope"></i> <a>yedagneanicet@gmail.com</a>
      <i class="las la-phone"></i> +225 0143467571
    </div>
    <div class="d-none d-lg-flex social-links align-items-center">
      <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
      <a href="#" class="facebook"><i class="lab la-facebook"></i></a>
      <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
      <a href="#" class="linkedin"><i class="lab la-linkedin"></i></a>
    </div>
  </div>
</div>

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <img src="https://zupimages.net/up/23/10/ohm9.png" alt="logo" />
      <a>Ma<span class="text-success">Pharmacie</span></a>
    </h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActiveClass="active"
            >Accueil</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="/liste"
            routerLinkActive="active"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActiveClass="active"
            >Medicament</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="/garde"
            routerLinkActive="active"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActiveClass="active"
            >Pharmacie de garde</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="/blog"
            routerLinkActive="active"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActiveClass="active"
            >Nos conseils</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <button
      type="button"
      class="appointment-btn scrollto btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#login"
    >
      Mon Compte
      <i class="las la-user"></i>
    </button>
    <button
      class="appointment-btn scrollto btn btn-primary"
      routerLink="/pannier"
    >
      Pannier
      <i class="las la-cart-plus icon"></i>
      <div class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
</header>

<app-login></app-login>
